.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff; /* Header background color */
  border-bottom: 1px solid #e0e0e0; /* Header border */
}

.header-left {
  display: flex;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
}

.notification-icon {
  position: relative;
  cursor: pointer;
  margin-left: 20px; /* Adjust margin as needed */
}

.content-container {
  flex-grow: 1;
  padding: 20px;
  background: #f5f5f5; /* Main content background */
}


