.table-header {
  text-align: left;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #444444;
}
.filter-input {
  max-width: 250px; /* Reduced max width */
  margin-right: 10px; /* Reduced margin */
}
.filter-input input {
  padding: 4px 8px; /* Reduced padding */
  font-size: 12px; /* Reduced font size */
  height: 28px; /* Reduced height */
}

.task-list-heading {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
}
.table-header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.add-task-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  background-color: #444444!important;
}

.table-container {
  position: relative;
  margin: 0 20px 20px;
}

.action-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the left */
}

.icon-wrapper {
  margin-right: 5px; /* Add space between icons */
  cursor: pointer;
}

.mat-icon.grey-icon {
  color: #444444;
}

.filter-input {
  flex-grow: 1;
  max-width: 400px;
  margin-right: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc; /* Simple border */
  border-radius: 10px; /* Rounded corners */
  padding: 5px 10px; /* Padding inside the container */
  background-color: #f9f9f9; /* Light background color */
  max-width: 250px; /* Max width for the container */
  margin-right: 10px; /* Adjust margin to fit the layout */
}

/* Styling for the search input field */
.search-input {
  border: none; /* Remove default border */
  outline: none; /* Remove outline on focus */
  flex-grow: 1; /* Allow input to take available space */
  padding: 5px 8px; /* Padding for the input field */
  border-radius: 10px; /* Rounded corners to match the container */
  font-size: 14px; /* Font size for the input */
  background: none; /* Remove background to blend with container */
  color: #333; /* Text color */
}
/* Styling for the search icon */
.search-icon {
  color: #888; /* Icon color */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 20px; /* Adjust icon size */
}
.table-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px; /* Adjust based on your layout needs */
}

.table-header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.search-input {
  padding-right: 32px; /* To make space for the search icon */
}



.status-filter {
  min-width: 150px;
}

.add-task-button {
  margin-left: 16px;
}
